<div class="login-page">
  <h2>Login</h2>
  <form [formGroup]="loginForm">
    <div class="justify-content-center">
      <mat-form-field appearance="outline">
        <mat-label>Email Address</mat-label>
        <input matInput
                formControlName="username">
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Email Address</mat-label>
        <input matInput
                formControlName="username">
      </mat-form-field>
    </div>
  </form>

</div>
